# Order Book Simulator v1

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from collections import OrderedDict
matplotlib.rcParams['figure.figsize'] = (14, 6)

In [12]:
%run orderbook.py

In [13]:
dummy_book()
show_book()

   BUY_QTY  BUY_PX  SELL_PX  SELL_QTY
0   1000.0    99.5   100.02      2500
1    900.0    99.0   100.50      1900
2      NaN     NaN   101.01       200

In [27]:
new_order(side = 'b', price = 99.6, qty = 500)

In [28]:
buy_orders

{99.0: 900, 99.5: 500, 99.6: 500, 100: 2000}

In [29]:
show_book()

   BUY_QTY  BUY_PX  SELL_PX  SELL_QTY
0   2000.0   100.0   100.02      2500
1    500.0    99.6   100.10       500
2    500.0    99.5   100.30       500
3    900.0    99.0   100.50      1900
4      NaN     NaN   101.01       200

In [30]:
trades

[(99.5, 500)]

In [26]:
new_order(side='b', price = 100, qty = 2000)
get_BBO()

((100, 2000), (100.02, 2500))

**Are there any limitations to this implementation?**

In [ ]:
# dump trades to a DataFrame
# Order Book Metrics
# automate and simulate orders in a book 
# random side at inside market
# random size
# random side and price (scaled to volatility)

In [ ]:
show_book()

In [ ]:
trades_df = pd.DataFrame(trades, columns=['price', 'quantity'])

In [ ]:
trades_df

In [ ]:
trades_df['price'].plot()