# Order Book Simulator v1

In [4]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from collections import OrderedDict
matplotlib.rcParams['figure.figsize'] = (14, 6)

In [5]:
%run orderbook.py

In [6]:
dummy_book()
show_book()

   BUY_QTY  BUY_PX  SELL_PX  SELL_QTY
0   1000.0    99.5   100.02      2500
1    900.0    99.0   100.50      1900
2      NaN     NaN   101.01       200

## a.randomly decide a new buy order or sell order

In [7]:
ramdon_int =  np.random.choice(2)
side = 'b' if ramdon_int == 0 else 's' 
#print('ramdon_int %r, side %s' % (ramdon_int, side))

In [8]:
new_order(side, price = 99.6, qty = 500)

In [9]:
show_book()

   BUY_QTY  BUY_PX  SELL_PX  SELL_QTY
0      500    99.6   100.02      2500
1     1000    99.5   100.50      1900
2      900    99.0   101.01       200

In [10]:
trades

[]

## b.randomly decide a price of new buy order or sell order

In [22]:
ramdon_int =  np.random.choice(2)
side = 'b' if ramdon_int == 0 else 's'
#print(get_BBO()[ramdon_int][0])
noise = np.random.random(1)[0]
price = get_BBO()[ramdon_int][0] + noise
qty = 500
#print(noise)
#print(price)
print('ramdon_int %d, side %s, price %f' % (ramdon_int, side, price))
new_order(side, price, qty)

ramdon_int 0, side b, price 100.400608

In [23]:
show_book()

   BUY_QTY  BUY_PX     SELL_PX  SELL_QTY
0    500.0    99.6  100.020000      2000
1   1000.0    99.5  100.500000      1900
2    900.0    99.0  100.829204       500
3      NaN     NaN  101.010000       200

In [24]:
trades

[(100.02, 500)]

## c.randomly decide a quantity

In [26]:
ramdon_int =  np.random.choice(2)
side = 'b' if ramdon_int == 0 else 's'
#print(get_BBO()[ramdon_int][0])
noise = np.random.random(1)[0]
price = get_BBO()[ramdon_int][0] + noise
qty = np.random.randint(1,1000)
#print(noise)
#print(price)
print('ramdon_int %d, side %s, price %f, qty %d' % (ramdon_int, side, price, qty))

ramdon_int 0, side b, price 100.295812, qty 805

## d.add the order to the order book

In [ ]:
new_order(side, price, qty)

In [27]:
show_book()

   BUY_QTY  BUY_PX     SELL_PX  SELL_QTY
0    500.0    99.6  100.020000      1195
1   1000.0    99.5  100.500000      1900
2    900.0    99.0  100.829204       500
3      NaN     NaN  101.010000       200

## e.record the best bid and offer

In [29]:
get_BBO()

((99.6, 500), (100.02, 1195))

In [28]:
trades

[(100.02, 500), (100.02, 805)]

**Are there any limitations to this implementation?**

In [ ]:
# dump trades to a DataFrame
# Order Book Metrics
# automate and simulate orders in a book 
# random side at inside market
# random size
# random side and price (scaled to volatility)

In [ ]:
show_book()

In [ ]:
trades_df = pd.DataFrame(trades, columns=['price', 'quantity'])

In [ ]:
trades_df

In [ ]:
trades_df['price'].plot()